.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh; 
    width: 95vw
}

.shoppingList {
    border: 1px solid black;
    height: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    font-size: 50px;
}

#box1 {
    margin: 10px;
    margin-bottom: 20px;
}

#box2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.list {
    display: flex;
    gap: 20px;
    list-style-type: disc;  
    flex-grow: 1;
}

ul {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
}